<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-copyright">&copy; 2016 Institute for Software</div>

    <div class="footer-contact">
      <a href="mailto:tonisuter@me.com" title="Email"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a>
      <a href="https://twitter.com/tonisuter" title="Twitter"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
      <a href="https://github.com/tonisuter" title="GitHub"><i class="fa fa-github fa-lg" aria-hidden="true"></i>
    </div>
  </div>
</footer>
